.App{
    background-color: rgb(187, 173, 189); 
 height: 75%;
 width: 70%;
 margin: 90px;
 border-radius: 20px;
 text-align: center;
 
}
.Child{
    background-color: rgb(165, 95, 173); 
    height: 35%;
    width: 40%;
    margin: 40px;
    border-radius: 20px;
    
 
}
input{
    border: 3px solid #555;
    border-radius: 20px;
}


